<div class="text-center" style="width:50%;" *ngIf="product">
        <header class="w3-container w3-blue">
          <h1>{{product.name}} </h1>
        </header>
      
        <div class="w3-container">
                <table class="w3-table-all">
                    <tr><td>id :</td><td><input class="form-control" [(ngModel)]="product.id" placeholder="id"></td></tr>
                    <tr><td>name :</td><td><input class="form-control" [(ngModel)]="product.name" placeholder="name"></td></tr>
                    <tr><td>price :</td><td><input class="form-control" [(ngModel)]="product.price" placeholder="price"></td></tr>
                </table>
            </div>
            <footer>
                <button (click)="save()">Save</button>
                <button (click)="goBack()">Back</button>  
            </footer>
      </div>