<div class="w3-card-4 w3-animate-right text-center" style="width:50%;" *ngIf="product">
        <header class="w3-container w3-blue">
          <h1>{{product.name}} Details</h1>
        </header>
      
        <div class="w3-container">
                <table class="w3-table-all" border="0">
                    <tr><td>id :</td><td>{{product.id}}</td></tr>
                    <tr><td>name :</td><td>{{product.name}}</td></tr>
                    <tr><td>price :</td><td>{{product.price}}</td></tr>
                 
                    
                </table>
            </div>
            <footer><button (click)="goBack()">Back</button></footer>
      </div>