<app-header></app-header>
<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Payment Details
                        </h3>
                        <div class="checkbox pull-right">
                            <label>
                                <input type="checkbox" />
                                Remember
                            </label>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                        <div class="form-group">
                            <label for="cardNumber">
                                CARD NUMBER</label>
                            <div class="input-group">
                                <input type="text"  class="form-control"  payments-format="FORMATTING_TYPE" #cardNumber placeholder="Valid Card Number"
                                    required autofocus (change)="checkCardNumber(cardNumber.value)" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="expiryMonth">
                                        EXPIRY DATE</label>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" maxlength="2" #expiryMonth placeholder="MM" required (change)="checkMonth(expiryMonth.value)" />
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="text" class="form-control" maxlength="2" #expiryYear placeholder="YY" required (change)="checkYear(expiryYear.value)" /></div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">
                                        CV CODE</label>
                                    <input type="password" class="form-control"  #cvCode placeholder="CV" required (change)="checkCvvCode(cvCode.value)"/>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"><span class="badge pull-right">&#8377;{{finalPrice}}</span> Final Payment</a>
                    </li>
                </ul>
                <br/>
                <a  class="btn btn-success btn-lg btn-block" role="button" (click)="savePaymentDetails(cardNumber.value,expiryMonth.value,expiryYear.value,cvCode.value)">Pay</a>
            </div>
        </div>
    </div>
    