<div id="search-component" class="text-right">
        <input #searchBox ng-model="searchAll" type="text" id="search-box" placeholder="Search Product by Name" class="form-control" (keyup)="search(searchBox.value)" />
        <a class="clear pull-right" (click)="removeSearch(); searchBox.value = ''" style="position:absolute; top: 35%; right:2%;">
        <span class="glyphicon glyphicon-remove"></span>
        </a>
        <div class="list-search-result">
        <div class="search-result">
        <div *ngFor="let product of products | async"
        (click)="gotoDetail(product)" class="search-result" >
        {{product.name}}
        </div>
        </div>
        </div>
        </div>