<h1 class="jumbotron text-center">{{title}}</h1>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav" style="width:100%;">
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/contact-us" routerLinkActive="active">ContactUs</a></li>
        <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
        <li class="pull-right"><product-search></product-search></li>
    </ul>
</nav>
<router-outlet></router-outlet>